/* enkai css */

/* @charset "euc-jp"; */

/* default */

* {
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    text-align: inherit;
    white-space: inherit;
    margin: 0 auto;
    padding: 0;
/*  border: 1px solid red !important;*/
}

body {
    color: #333333;
    background: #F5F2EA;
    font-family: "Lucida Sans", "£Í£Ó £Ð¥´¥·¥Ã¥¯", Osaka, sans-serif;
    text-align: center;
    font-size: 9pt;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: left;
    margin: 0px auto;
    padding: 5px;
}

h1 {
    font-size: 17pt;
    padding: 8px;
}

h1:first-letter {
    font-size: 25pt;
    color: #99CC00;
}

h2 {
    font-size: 13pt;
    background-color: #d1f0fa;
    margin: 0 auto;
    padding-left: 10px;
    background-image: url("images/h2_bg.jpg");
}

h3 {
    font-size: 11pt;
}

h4 {
    font-size: 11pt;
}

p {
    line-height: 130%;
    margin: 0px auto;
    padding: 10px;  
    text-align: left;
}

em {
    font-weight: bold;
    font-style: normal;
}

strong {
    font-weight: bolder;
    font-style: normal;
    color: red;
    background-color: transparent;
}

pre {
    white-space: pre;
    margin: 0px auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    border:1px dashed #666666;
}

address {
    font-size: 11pt;
    font-style: normal;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
}

blockquote {
    margin: 0px auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0.5em;
    border: 1px solid #666666;
}

ul {
    margin: 0.2em auto;
    list-style: square;
    list-style-image: url("./images/li.png");
}

ol {
    margin: 0.2em auto;
    list-style: decimal;
}

li {
    line-height: 1.5em;
}

dl {
    margin: 15px auto;
    margin-left: 15px;
    padding: 5px;
}

dt {
    float: left;
    clear: left;
    width: 10em;
    color: #000000;
    border-left: 5px solid #e6ff99;
    margin: 0px auto;
    padding: 5px;
    background-color: transparent;
}

dd {
    margin: 0px auto;
    padding: 3px 3px 13px 3px;
    background-color: transparent;
}

th{
    background-color: #eeffbb;
}

hr {
    border: none;
    margin: 0px auto;
    border-top: 1px dotted #99a8ad;
    height:1px;
}

a:link {
    color: #9C3;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a:visited {
    color: #666666;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a:hover {
    border-bottom: 1px solid #999;
    color: #000;
    background-color: #EFFFBF;
}

a:active {
    color: #666666;
    text-decoration: none;
    background-color: transparent;
}

img {
    vertical-align: text-bottom;
    border: 1px;
    border-style: solid;
    border-color: #ffffff;
    /* IE */
    color: #ffffff;
    background-color: inherit;
}


a:active img, a:hover img, a:focus img {
    color: #2f82ff !important;
    background-color: inherit;
    border-color: #ad7033;
    border-width: 1px;
    border-style: solid;
}

input, textarea, select {
    color: #333333;
    border: 0px solid #666666;
    margin: 5px auto;
    padding: 4px;
    background-color: #EFFFBF;
    background-image: url("images/input_bg.png");
    background-repeat: no-repeat;
    background-position: left top;
}

form {
    margin: 0px auto;
    padding: 10px;
}

/* body */

#container {
    text-align: left;
    width: 780px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 0px;
    background-color: #ffffff;
}

#header {
    background-image: url(./images/header.png);
    background-position: center top;
    background-repeat: no-repeat;
}

#content {
    border-left: #999999 1px solid;
    border-right: #999999 1px solid;
    margin: 0px auto;
    padding: 1px;
}

#footer {
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    background-image: url(./images/footer.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

table{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px #999999 solid;
    font-size: 9pt;
}

td {
    margin: 0 auto;
    padding: 4px;
    background-color: #ffffff;
    border: 1px #999999 solid;
    text-align: left;
}
.canceled td {
    color: #999999;
    text-decoration: line-through;
    background-color: #efefef;
}

th {
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    font-weight: bold;
    border: 1px #999999 solid;
}

.name {
    font-weight: bold;
    color: #739900;
}

ul.menu {
    word-spacing:2em;
    padding:0.5em;
    line-height:1.5;
}

ul.menu li {
    display:inline;
    list-style-type:none;
}

ul.menu a {
    padding:0 0.6em 0 0.4em;
    border: 2px outset #f7ffdd;
    text-decoration:none;
    background:#e4f1bb;
    color:#000;
}

ul.menu a:active{
    padding:0 0.4em 0 0.6em;
    border-style:inset;
}

div.info{
    background-image: url(./images/info.png);
    background-position: left top;
    background-repeat: no-repeat;
    border:1px solid #ccc;
    padding-left:40px;
    margin-left:3em;
    margin-right:3em;
}

input.actionform_text {
    width:80%;
}
textarea.actionform_textarea {
    height: 8em;
    width:80%;
}
